.name {
  display: block;
  height: 2em;
  margin-bottom: .5em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.6em;
  line-height: 1em;
  color: #222;
}

.user {
  color: #666;
  margin-bottom: 1em;
}

.avatar {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  vertical-align: middle;
}

.languages {
  height: 1em;
  display: inline;
  > span {
    color: #222;
    margin-bottom: 1em;
  }
}

.numbers {
  span {
    margin-right: 1em;

    * {
      vertical-align: bottom;
    }
  }
}

.paginationLink {
  width: 50px;
  margin: 0 5px;
  display: inline-block;
}

.paginationEdge {
  i {
    width: 10px
  }
}

.cardNumber {
  color: #6495ed;
  font-size: 1.2em;
  float: right;
}
